<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE :noop SYSTEM "../lml.dtd">
<:noop>
    <:log>Init menu window</:log>
    <window movable="false">
        <table onecolumn="true">
            <button growx="true" onclick="continueGame">Continue Game</button>
            <button growx="true" onclick="goToCreateGame">Create new Game</button>
            <button growx="true" onclick="showProfile">Profile</button>
            <button growx="true" onclick="quit">Quit</button>
        </table>
    </window>
</:noop>